<script>
$('select').on('change', function(ev) {
    $(this).attr('class', '').addClass($(this).children(':selected').val());
});

</script>

<% provide(:title, "Home") %>

<div class="row">
  <div class="center jumbotron">
    <%= form_for(:country) do |f| %>

        <%= f.label "How does" %>
        <% options = options_from_collection_for_select(@countries, 'name', 'name') %>
        <div id="bluepill">
		</div>
        <%= f.label "and" %>
        <% options = options_from_collection_for_select(@countries, 'name', 'name') %>
        <%= f.select :all_val,  options %>
        <%= f.label "feel about one another?" %>
        <br>
        <%= f.submit "Submit", class: "btn btn-primary" %>

    <% end %>

  </div>
</div>
<script>

var ddData = (function() {
		var ddData = null;
		$.ajax({
			'async': false,
			'global': false,
			'url': "/assets/flags/filePaths.json",
			'dataType': "json", 
			'success': function (data) {
				ddData = data;
		}
	});
	return ddData;
})();	

$('#bluepill').ddslick({
	data: ddData,
	defaultSelectedIndex: 2,	
	width: 300, 
	imagePosition: "left"
	//selectText: "Select a Country", 
});
</script>	