

<script>
$('select').on('change', function(ev) {
    $(this).attr('class', '').addClass($(this).children(':selected').val());
});
</script>

<% provide(:title, "Home") %>

<div class="row">
  <div class="center jumbotron">
    <%= form_for(:country) do |f| %>

        <%= f.label "How does" %>
        <% options = options_from_collection_for_select(@countries, 'name', 'name') %>
        <%= f.select :all_val,  options %>
        <%= f.label "and" %>
        <% options = options_from_collection_for_select(@countries, 'name', 'name') %>
        <%= f.select :all_val,  options %>
        <%= f.label "feel about one another?" %>
        <br>
        <%= f.submit "Submit", class: "btn btn-primary" %>

    <% end %>

  </div>
</div>