<p id="notice"><%= notice %></p>
<strong>Country:</strong>
<br>
<%= @country.name %>
<br><br>
<strong>Relations:</strong>
<br>
<% if @relations.present? %>
  <% @relations.each do |relation| %>
   <tr>
		<%= relation.name %>
    <td><%= link_to "Show", [@country, relation] %></td>
    <td><%= link_to 'Edit', edit_country_relation_path(@country, relation) %></td>
    <td><%= link_to 'Destroy', country_relation_path(@country, relation), :confirm => 'Are you sure?', :method => :delete %></td>
		<br>
   </tr>
 <% end %>
<% else %>
 <tr>
<br><br>
   <td colspan=4>You don't have any relations yet.</td>
 </tr>
<% end %>


