<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @relation.name %>
</p>

<p>
  <strong>Parent:</strong>
  <%= @relation.parent_id %>
</p>

<%= link_to 'Edit', edit_relation_path(@relation) %> |
<%= link_to 'Back', relations_path %>
